<div class="row">
  <br>
  <div class="col s6 offset-s3">
    <div class="input-field">
      <input id="search" type="search" required ng-model="homeCtrl.songSearch" ng-change="homeCtrl.spotifySearch()">
        <label for="search"><i class="material-icons">search</i>Search for your favorite song</label>
    </div>
  </div>
</div>
<div class="col s6 offset-s3">
  <div class="row">
    <div ng-repeat="card in homeCtrl.cards">
      <kt-genre-card content="{{card.content}}" path="{{card.path}}" image="{{card.image}}"></kt-genre-card>
    </div>
  </div>
</div>
