<div class="row">
  <div class="col s10 offset-s2">
    <div class="row">
      <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at dui vel velit fringilla efficitur eu vel urna. Cras pellentesque tortor non arcu ornare molestie. Nullam vehicula quis nulla quis aliquet. Ut congue arcu fermentum enim aliquet maximus. Curabitur augue lectus, viverra vitae eros eu, vestibulum rhoncus ante. Nunc et felis sed dolor mattis scelerisque et tincidunt dolor. Nulla vitae leo vel metus blandit placerat. Curabitur rutrum sapien non pretium congue.</p>
        <p>Ut laoreet urna mi, quis aliquam purus volutpat in. Donec in odio vitae erat faucibus pretium eget pulvinar lorem. Donec nisl tellus, rutrum non venenatis sed, tristique ut orci. Mauris gravida lacinia justo, non dignissim quam vestibulum eget. Vivamus nec porttitor velit, sed condimentum ligula. Morbi volutpat eleifend elit non elementum. Mauris quis sagittis massa, at dignissim mauris. Nulla faucibus justo est, sed dapibus sem vehicula vel. Nullam dignissim cursus felis, non blandit leo suscipit pulvinar.</p>
        <p>Duis ac fermentum mi, et tempus tellus. Integer tempus metus a odio pellentesque vestibulum. Vivamus imperdiet placerat massa. Integer erat ex, convallis id nunc ut, condimentum dapibus odio. Vestibulum ac quam at justo placerat volutpat. Proin risus orci, consequat at ullamcorper eu, vehicula vel ligula. Maecenas mi sapien, tempus eget condimentum in, dapibus at metus. Praesent sapien ipsum, posuere a augue non, viverra interdum sapien. Quisque eget urna dolor. Nunc porta nunc sed aliquet fermentum.</p>
      </div>
      <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at dui vel velit fringilla efficitur eu vel urna. Cras pellentesque tortor non arcu ornare molestie. Nullam vehicula quis nulla quis aliquet. Ut congue arcu fermentum enim aliquet maximus. Curabitur augue lectus, viverra vitae eros eu, vestibulum rhoncus ante. Nunc et felis sed dolor mattis scelerisque et tincidunt dolor. Nulla vitae leo vel metus blandit placerat. Curabitur rutrum sapien non pretium congue.</p>
        <p>Ut laoreet urna mi, quis aliquam purus volutpat in. Donec in odio vitae erat faucibus pretium eget pulvinar lorem. Donec nisl tellus, rutrum non venenatis sed, tristique ut orci. Mauris gravida lacinia justo, non dignissim quam vestibulum eget. Vivamus nec porttitor velit, sed condimentum ligula. Morbi volutpat eleifend elit non elementum. Mauris quis sagittis massa, at dignissim mauris. Nulla faucibus justo est, sed dapibus sem vehicula vel. Nullam dignissim cursus felis, non blandit leo suscipit pulvinar.</p>
        <p>Duis ac fermentum mi, et tempus tellus. Integer tempus metus a odio pellentesque vestibulum. Vivamus imperdiet placerat massa. Integer erat ex, convallis id nunc ut, condimentum dapibus odio. Vestibulum ac quam at justo placerat volutpat. Proin risus orci, consequat at ullamcorper eu, vehicula vel ligula. Maecenas mi sapien, tempus eget condimentum in, dapibus at metus. Praesent sapien ipsum, posuere a augue non, viverra interdum sapien. Quisque eget urna dolor. Nunc porta nunc sed aliquet fermentum.</p>
      </div>
    </div>
  </div>
</div>
<div class="side-nav fixed">
   <div class="container">
     <div class="row">
       <div class="col s12 center">
         <h5>Vocabulary</h5>
         <br>
         <ul>
           <li>Lorem</li>
           <li>Ipsum</li>
           <li>Secundum</li>
           <li>Flatulum</li>
           <li>Datum</li>
           <li>Um</li>
           <li>Drum</li>
           <li>Tums</li>
           <li>Scum</li>
         </ul>
         <div class="input-field song-page-search">
           <input id="dictionary" type="search" required>
             <label for="dictionary"><i class="material-icons">search</i>Dictionary</label>
             <i class="material-icons">close</i>
         </div>
         <div class="input-field song-page-search">
           <input id="translation" type="search" required>
             <label for="translation"><i class="material-icons">search</i>Translation</label>
             <i class="material-icons">close</i>
         </div>
       </div>
     </div>
   </div>
 </div>
