<div class="row">
  <div class="col s9 offset-s3">
    <h4 class="center">{{songCtrl.song.content}}</h4>
    <hr>
    <div class="row">
      <div class="col s5">
        <div ng-repeat="lyric in songCtrl.song.lyrics track by $index">
          <p>{{lyric}}</p>
        </div>
      </div>
      <div class="col s5 offset-s1">
        <div ng-repeat="translate in songCtrl.song.translation track by $index">
          <p>{{translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="side-nav fixed">
   <div class="container">
     <div class="row">
          <div class="col s12 center">
            <iframe src={{songCtrl.song.uri}} width="200" height="280" frameborder="0" allowtransparency="true"></iframe>
         <h5>Vocabulary</h5>
         <hr>
         <div ng-repeat="word in songCtrl.song.vocab track by $index">
           <p>{{word}}</p>
         </div>
         <div class="input-field song-page-search">
           <input id="dictionary" type="search" required>
             <label for="dictionary"><i class="material-icons">search</i>Dictionary</label>
             <i class="material-icons">close</i>
         </div>
         <div class="input-field song-page-search">
           <input id="translation" type="search" required>
             <label for="translation"><i class="material-icons">search</i>Translation</label>
             <i class="material-icons">close</i>
         </div>
       </div>
     </div>
   </div>
 </div>
