body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.side-nav {
  background-color: rgba(229, 115, 115, .7);
  color: white;
}

.subtitle {
  vertical-align: text-bottom!important;
}
